html { box-sizing: border-box; }
*, ::before, ::after { box-sizing: inherit; }

h1{
    font-family: "Underdog";
    font-size: 60px;
  }
  header img{
    border-radius: 50%;
    width: 350px;
    float:left;
    margin: 40px;
    clear:both;
  }

  body{
    font-size: 20px;
    line-height: 1.4;
    
    background-color: #3C3434;
  }
  h1,h2{
    line-height: 1.2;
}

h2{
    font-size: 32px;
}
img {
    width:300px;
    border-radius: 8px;
    margin-bottom: 20px;
    overflow:auto;
}
header,section,footer{
    background-color: #F2EFEF;
    max-width: 80%;
    border-radius: 12px;
    padding: 30px 50px;
    margin: 20px auto;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
.kurzy {
    text-align: center;
}

.certifikaty {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    gap: 20px; 
}

.certifikaty a {
    text-decoration: none;
    color: black;
    text-align: center;
    width: 45%; 
}

.certifikaty img {
    width: 100%; 
    max-width: 300px;
    border: 2px solid #756158;
    border-radius: 10px;
}

